<div class="mt-4">

    <form method="POST" action="">
 
    
    <div class="form-check">
        <input type="text" class="form-control" name="q" id="search-input" placeholder="input word">
        <label for="search-input">Search Function</label>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>  
</div>